.explorer-body {
    background-color: #F1F1F1;
}

h1 {
    font-size: 18px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #FFFFFF;
}

th,
td {
    padding: 2px;
    border-bottom: 1px solid #E6E6E6;
    vertical-align: middle;
    font-size: 11px;
}

th {
    background-color: #F0F0F0;
    border-top: 1px solid #E6E6E6;
    border-bottom: 2px solid #E6E6E6;
    font-weight: bold;
    color: #777777;
}

tr:hover {
    background-color: #FFFFCC;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000099;
    text-decoration: underline;
}

.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
    vertical-align: middle;
}

.folder-icon {
    background-image: url('../../../images/icons/folder.png');
}

.file-icon {
    background-image: url('../../../images/icons/file.png');
}

.audio-icon {
    background-image: url('../../../images/icons/audio.png');
}

.movie-icon {
    background-image: url('../../../images/icons/movie.png');
}

.file-table {
    flex-grow: 1;
    background-color: white;
}

.file-table table {
    box-shadow: none;
}



.explorer_navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 32px;
  background-color: #E7E4D0;
  border-bottom: #FCF9E0 1px solid;
}

.explorer_back_button{
  cursor: pointer;
  border: none;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
  display: flex;
  flex-direction: row;
}

.explorer_back_button img {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 3px;
}


.explorer_forward_button{
  cursor: pointer;
  border: none;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
  display: flex;
  flex-direction: row;
}

.explorer_forward_button img {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 3px;
}

.explorer_address_bar{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #E7E4D0;
}

.explorer_address_bar input {
  flex-grow: 1;
  border: none;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  height: 24px;
  font-size: 12px;
}

.explorer_go_button {
  cursor: pointer;
  border: none;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  width: 79px;
  display: flex;
  flex-direction: row;
}

.explorer_go_button img {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 3px;
}